<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="add_body">
  <ion-card>
    <ion-card-content>
      <ion-input 
        id="studentID"
        class="input_field"
        type="text" 
        label="Student Id"
        labelPlacement="floating"
        [value]="studentDetails.studentID"
        [readonly]="true"
        [disabled]="true"
      >
      </ion-input>
      <ion-input
        id="firstName"
        class="input_field"
        type="text" 
        label="First Name *"
        labelPlacement="floating"
        [value]="studentDetails.firstName"
        (ionInput)="onInput($event)"
      >
      </ion-input>
      <ion-input 
        id="lastName"
        class="input_field"
        type="text" 
        label="Last Name *"
        labelPlacement="floating"
        [value]="studentDetails.lastName"
        (ionInput)="onInput($event)"
      >
      </ion-input>
      <ion-select
        id="moduleNo1"
        class="input_field"
        placeholder="Select Module One" 
        interface="popover" 
        (ionChange)="setValue($event)"
      >
        <ion-select-option 
          *ngFor="let module of modules"
          [value]="module.moduleNo"
        >
          {{module.moduleName}}
        </ion-select-option>
      </ion-select>
      <ion-select
        id="moduleNo2"
        class="input_field"
        placeholder="Select Module Two" 
        interface="popover" 
        (ionChange)="setValue($event)"
      >
        <ion-select-option 
          *ngFor="let module of modules"
          [value]="module.moduleNo"
        >
          {{module.moduleName}}
        </ion-select-option>
      </ion-select>
      <ion-input 
        id="courseID"
        class="input_field"
        type="text" 
        label="Course ID *"
        labelPlacement="floating"
        [value]="studentDetails.courseID"
        (ionInput)="onInput($event)"
      >
      </ion-input>
      <ion-button 
        class="btn-add-module"
        (click)="verifyAllDetails()"
      >
        Add Student
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
