.input_field {
    border-bottom: 1px solid var(--ion-color-medium-tint);
    margin-top: 10px;
    color: var(--ion-color-dark);
}

.btn-add-module {
    margin-top: 30px;
    width: 100%;
    height: 50px;
}