<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    class="btn-assignments"
    fill="solid"
    color="dark"
    (click)="openModal()"
  >
    Assignments
  </ion-button>
  <ion-button
    class="btn-logout"
    (click)="reload()"
    fill="outline"
  >
    Logout
  </ion-button>
</ion-content>
