.input-field {
    border-bottom: 1px solid var(--ion-color-primary);
    margin-bottom: 20px;
}

.checkbox-field {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btns-cta-modal {
    display: flex;
    justify-content: space-evenly;
}