<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" >
    <ion-fab-button [routerLink]="['/students/add']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-button class="btn_create_module" [routerLink]="['/students/add']">
    <ion-icon name="add"></ion-icon>&nbsp;&nbsp;Add New Student
  </ion-button> -->
  <div *ngIf="students">
    <ion-list *ngFor="let student of students">
      <ion-item button (click)="currentStudent(student.studentID)">
        {{student.firstName}} {{student.lastName}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
